body{
    background-color:rgb(54, 50, 65);
    text-align: center;
}

h2{
    color:rgb(170, 219, 92);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

div{
    display: inline-block;
    border: 1px solid aqua;  
}

#container{
    width: 400px;
    height: 810px;
    display: inline-flex;
    flex-direction: column;
}

